{% extends 'base.html.twig' %}
{% block title %}Manage Account des Maçons !{% endblock %}
{% block body %}
<div class ="img2">
		<div class ="contenuTitre">
			<h3>Account</h3>
		</div>
		
		{{ form_start(form) }}
		
		{{ form_end(form) }}
	</div>

{% endblock %}