{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}

	<div class ="img1">
		<div class ="contenuTitre">
		<h3>Articles Disponibles récents</h3>
		</div>
		<!-- Affichage Article Récents Page d'acceuil -->
		<div class="Articles-Haut">
		    {% for article in articles %}
    			<a href = {{ path('user_displayArticle', {'slug' : article.slug }) }}><div class="Article-display-home"><li><div class ="buttonText"><b></br>
    			{{ article.title }}</b></br><div class ="auteur">Auteur : {{ article.author }}</div></div></li></div></a>
			{% endfor %}
		</div>
		<div class="2-Articles-Bas">
		
		</div>
		
		<!-- Fin affichage articles Récents -->
	</div>
	
	<div class ="img2">
		<div class ="contenuTitre">
		<h3>Connections</h3>
		</div>
	</div>
	
	<div class ="img3">
		<div class ="contenuTitre">
			<h3>Article :</h3>
		</div>
		<p class ="article">
		
            Les négociations sur la loi de réforme du droit d'auteur de l'UE ont repris:
            après avoir dépassé le délai initial de Noël, les négociateurs du Parlement européen
            et du Conseil ont maintenant pour objectif de finaliser le texte le 21 janvier 2019.
            Les négociateurs sont parvenus à un accord sur le fondement de l'article 13, qui modifiera Internet
            tel que nous le connaissons: ils veulent rendre les plateformes Internet directement responsables
            des violations du droit d'auteur commises par leurs utilisateurs.
            Pour rappel, l’article 13 vise à instaurer le filtrage automatique des contenus mis en ligne,
            puisque ce sont des algorithmes qui devraient juger quel contenu a le droit d'apparaître sur Internet.
            À ce propos, en novembre dernier, Susan Wojcicki, PDG de YouTube, a affirmé qu'il
            est impossible pour une plateforme comme YouTube de respecter les réglementations suggérées.
            Elle déclare que YouTube n'a pas les capacités techniques ou financières pour appliquer
            le type de restriction du droit d'auteur que l'Union européenne recherche.
            « L'approche du parlement est irréaliste dans de nombreux cas, car les titulaires de droits
            d'auteur ne sont souvent pas d'accord sur qui détient quels droits. Si les propriétaires ne peuvent s'entendre,
            il est impossible d'espérer que les plateformes ouvertes hébergeant ce contenu prennent
            les bonnes décisions en matière de droits », a-t-elle annoncé. 
            Pour s'expliquer, elle a pris l'exemple de « Despacito », la vidéo la plus regardée sur YouTube. 
            « Cette vidéo contient plusieurs droits d'auteur, allant de l'enregistrement sonore aux droits
            de publication. Bien que YouTube ait passé des accords avec plusieurs entités en vue de la licence
            et du paiement de la vidéo, certains détenteurs de droits restent inconnus. Cette incertitude
            signifie que nous pourrions devoir bloquer de telles vidéos pour éviter toute responsabilité 
            au titre de l'article 13. Multipliez ce risque par la taille de YouTube, où plus de 400 heures
            de vidéo sont téléchargées chaque minute et le passif potentiel pourrait être si important qu'aucune
            entreprise pourrait prendre un tel risque financier », disait-elle.
	     </p>
	</div>
	
	<div class ="img4">
		<div class ="contenuTitre">
		
		</div>
	</div>
	
	<div class ="img5">
		<div class ="contenuTitre">
		
		</div>
	</div>
	
	<div class ="img6">
		<div class ="contenuTitre">
	
		</div>
	</div>

{% endblock %}
