{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}

	<div class ="img1">
		<div class ="contenuTitre">
		<h3>Newest Article</h3>
		</div>
		<!-- Affichage Article Récents Page d'acceuil -->
    		<div class="Articles-Haut">
    		    {% for article in articles %}
		    		<div class= "container">
        		    	<div class = "image">
                			<a href = {{ path('user_displayArticle', {'slug' : article.slug }) }}><div class="Article-display-home"><li><div class ="buttonText"><b></br>
                			{{ article.title }}</b></br><div class ="auteur">Auteur : {{ article.author }}</div></div></li></div></a>
        				</div>

					</div>
    			{% endfor %}
    		</div>

		<div class="2-Articles-Bas">
		
		</div>
		
		<!-- Fin affichage articles Récents -->
	</div>
	
	<div class ="img2">
		<div class ="contenuTitre">
		<h3>Connections</h3>
		</div>
	</div>
	
	<div class ="img3">
		<div class ="contenuTitre">
			<h3>Article :</h3>
		</div>
	</div>
	
	<div class ="img4">
		<div class ="contenuTitre">
		
		</div>
	</div>
	
	<div class ="img5">
		<div class ="contenuTitre">
		
		</div>
	</div>
	
	<div class ="img6">
		<div class ="contenuTitre">
	
		</div>
	</div>

{% endblock %}
