/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - C S S   T R I E   A L P H A B E T I Q U E - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*---------- A A A A A A A A A A A A A A A -----------*/
#Affichage
{
	text-align:center;
	margin-top : 80px;
}
a
{
	text-decoration:none;
}
.alert
{
	text-align:center;
	width: 100%;
	height: 25px;
	background:#E85656;
	border:1px solid  #EF0303;
	opacity:0.2;
}
.alert-success
{
	
	text-align:center;
	width: 100%;
	height: 25px;
	background:#52BE2F;
	border:1px solid #305D21;
	opacity:0.2;
}
.apercu-Article
{
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	background:rgba(255,255,255,0.2);
	width:80%;
	margin-top:250px;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.article
{
	margin-top: 100px;
}
.Article-display-home
{
	color:#FFFFFF;
	width:400px;
	height:100px;
	background:rgba(255,255,255,0);
	display: inline-block;
	margin-top:40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid #FFFFFF;
}
.Article-display-home:hover
{
	background:rgba(200,200,200,0.2);
}
.Articles-Haut
{
	margin-top:50px;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%); /* décalage de 50% de sa propre taille */
}
.article-img
{
	opacity:0.5;
	width	: 350px;
	height:auto;
}
/*-------------B B B B B B B B B B B B B----------------*/
.bandeau
{
	margin-top:-16px;
	width:100%;
	height: 84px;
	background-color:#000000;
	color:#FFFFFF;
}
body
{
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:Arial, sans-serif	;
	font-weight: 900;
	margin-top:0;
	margin: 0;
	padding: 0;
	background-color: #AAAAAA;/*#000011;*/
}
.boutonAccueil
{
	margin-left: 35px;
	color:#FFFFFF;
}
.boutonAccueil:hover
{
	color:#CCCCCC;
	cursor: cell;
	text-decoration: underline;
}
.button-Create-Account
{
	color: rgba(200,200,200,0.7);
	width:;
	text-align: center;
	/*color: #DDDDDD;*/
}
.button-Create-Account:hover
{
	color: rgba(38,130,230,0.6);
	text-decoration: underline;
}
.bt-type-1
{
	color:#FFFFFF;
	width:300px;
	height:100px;
	background:rgba(255,255,255,0);
	display: inline-block;
	margin-top:40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid #FFFFFF;

}
.bt-type-2
{
	color:#FFFFFF;
	width:610px;
	height:100px;
	background:rgba(255,255,255,0);
	display: inline-block;
	margin-top:180px;
	text-align: center;
	border: 2px solid #FFFFFF;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.bt-type-1:hover,.bt-type-2:hover
{
	background:rgba(200,200,200,0.2);
}
.bt-1et1
{
	margin-top:50px;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.bt-12et12
{
	margin-top:270px;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.bt-123et123
{
	margin-top:390px;
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.btn
{
	margin:2px;
	color:#666666;
	font-size:16px;
	width:99%;
	height : 30px;
	display:block;
	margin-top:8px;
	background-color:rgba(255,255,255,0.5);
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #999999;
}
/*------------C C C C C C C C C C C C C -------------*/
.contenuTitre
{
	position: sticky;
	top:0;
	z-index:10;
}
.corps
{
	margin:0px;
}
/*------------D D D D D D D D D D D D D -------------*/
#Dynamique-txt
{
	float:right;
	width:50%;
	height:100%;
	float:right;
	color:#CCCCCC;
	cursor: cell;
	text-decoration: underline;
	background: rgba(155,155,155,0.4);
}
#Dynamique-img
{
	float:left;
	width:50%;
	height:100%;
	text-align:center;
	background: rgba(255,255,255,0.4);
}
.Dynamique-Case-Display
{
	
	margin-left:25%;
	width:70%;
	height:45%;
	border: 2px solid #FFFFFF;
	border-radius:12px 12px 12px 12px;
}
.Dynamique-Menu-Gauche
{
	margin-top: -577px;
	margin-left: 5%;
	width:17%;
	height:45%;
	border: 2px solid #FFFFFF;
	border-radius:12px 12px 12px 12px;
}
.Dynamique-Menu-Bas
{
	margin-top:3%;
	margin-left: 5%;
	width:90%;
	height:10%;
	border: 2px solid #FFFFFF;
	border-radius:12px 12px 12px 12px;
}
/*------------ E E E E E E E E E E E E ---------------*/
.elem-list-text
{
	margin-top: -38px;
}
.elem-list-check
{
	margin-top: -3px;
	margin-left:90%;
}
/*------------ F F F F F F F F F F F F ---------------*/
.formLog
{
	width:40%;
	height:auto;
	margin-top:200px;
	background:rgba(255,255,255,0.2);
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

.form
{
	width:81%;
	height:auto;
	margin-top:300px;
	background:rgba(255,255,255,0.2);
	position:relative; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%,-50%); /* décalage de 50% de sa propre taille */
}
.formNewAccount
{
	width:50%;
	height:auto;
	margin-top:180px;
	background:rgba(255,255,255,0.2);
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.form-search-user
{
	width:50%;
	height:auto;
	margin-top:180px;
	background:rgba(255,255,255,0.2);
	position: absolute; /* postulat de départ */
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
/*------------ H H H H H H H H H H H H ---------------*/
h1
{
	color:#FFFFFF;
	Font-size:30px;
	text-decoration: underline;
}
h3
{
	margin-top:0;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
}
h4
{
	margin-top:0;
	text-align:center;
	font-size:24px;
	color:#FFFFFF;
}
h5
{
	margin-top:5px;
	margin-bottom:5px;
	font-size:16px;
}
/*------------------I I I I I I I I I I I I ------------------*/
.img-txt
{
	display: inline-block;
	float : left;
	height : 100%;
}
.info
{
	text-align:left;
}
/*----------------------L L L L L L L L L L L L L------------------*/
li
{
	color:#FFFFFF;
	display:inline-block;	
}
.list-article
{
	width:70%;
	height: 40px;
	display: inline-block;
	background: rgba(255,255,255,0.56);
	margin-bottom : 15px;
	margin-left : 13%;
	border-bottom: 1px solid rgba(127,127,127,0.7);
	border-right: 1px solid rgba(127,127,127,0.7);
}
.list-article-stream
{
	width: 50%;
	height: 30px;
	background: rgba(255,255,255,0.56);
	margin-bottom : 15px;
	/*margin-left : 13%;*/
	border-bottom: 1px solid rgba(127,127,127,0.7);
	border-right: 1px solid rgba(127,127,127,0.7);
	/*left: 50%;  à 50%/50% du parent référent */
	transform: translate(50%,-50%); /* décalage de 50% de sa propre taille */
}
.list-article-text
{
	margin-top:8px;
	margin-left:20px;
}
.list-article-button-edit
{
	margin-top:-4px;
	text-align:center;
	width:15%;
	height:34px;
	float : right;
	margin-right: 4px;
	background-color: rgba(100,100,255,0.5);
	color: rgba(10,10,100,0.9);
	border-radius:2px 2px 2px 2px;
}
.list-article-button-edit:hover
{
	color: rgba(60,60,180,0.9);
}
.list-article-button-delete
{
	margin-top:-4px;
	text-align:center;
	width:9%;
	height:34px;
	float : right;
	margin-right: 4px;
	background-color: rgba(255,100,100,0.5);
	color: rgba(10,10,100,0.9);
	border-radius:2px 2px 2px 2px;
}
.list-article-button-delete:hover
{
	color: rgba(180,60,60,0.9);
}
.list-checked-article
{
	background: #999999;
	opacity:0.6;
}
/*------------------------- M M M M M M M M M M M------------------------*/

/*------------------------- N N N N N N N N N N N------------------------*/
.Nopublish
{
	color: rgba(255,100,100,0.9);
}
/*-------------------------P P P P P P P P P P P P-----------------------*/
p
{
	margin-top:0;
}
.publish
{
	color: rgba(100,255,100,0.9);
}
/*----------------- R R R R R R R R R R R R R ----------------------*/
.row-list
{
	margin-top:3px;	
}
/*---------------- T T T T T T T T T T T T T -----------------------*/
.txt
{
	height : 350px;
	width:98%;
	margin-left:1%;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;

}
.text-display-article
{
	margin-left:6px;
	height : 100%;
	float : left;
	width : 630px;	
}
/*-----------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*--------------------------------------F O R M U L A I R E   T A B L E A U -----------------------------------------*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
input, textarea, option, submit {
	margin:2px;
 	background-color:rgba(172,203,222,0.6);
 	width: 99%;
 	height:33px;
 	border-radius: 8px 8px 8px 8px;
 	resize: vertical;
 	border: 1px solid #999999;
}
select
{
	width:100%;
	height: 30px;
	background:#909FA3;
	color: white;
}
option
{
	width:100%;
	height: 30px;
	background:#909FA3;
	color: white;
}
textarea
{
	height: 200px; 
	font-family:Arial, Helvetica, sans-serif;
}
input:hover, textarea:hover, option:hover, submit:hover
{
	border: 1px solid #6FC2E6;
}
button
{
	margin:2px;
	color:#454545;
	font-size:16px;
	width:99%;
	height : 30px;
	display:block;
	margin-top:8px;
	background-color:rgba(131,176,203,0.6);
	border-radius: 6px 6px 6px 6px;
	border: 1px solid #999999;
}
button:hover
{
	color:#FFFFFF;
	background-color:rgba(255,255,255,0.2);
	border: 1px solid #6FC2E6
}
table, th, td 
{
	/*border: 3px solid rgba(255,255,255,0.6);*/
	border-collapse: collapse;
	padding-bottom: 10px;
	padding-right: 50px;
	text-align: left;
}
tr
{
	width :100%;
	background:rgba(255,255,255,0.4);
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - S E C T I O N   B A C K G R O U N D   I M A G E - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img1
{
	width:100%;
	background-image: url("../Images/Image1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
    z-index:1;
}
.img2
{
	width:100%;
	background-image: url("../Images/Image2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
}
.img3
{
	width:100%;
	background-image: url("../Images/Image3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
}
.img4
{
	width:100%;
	background-image: url("../Images/Image4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
}
.img5
{
	width:100%;
	background-image: url("../Images/Image5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
}
.img6
{
	width:100%;
	background-image: url("../Images/Image6.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
		/*filter: blur(2px);*/
}
.img7
{
	width:100%;
	background-image: url("../Images/Image7.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
	z-index:1;
		/*filter: blur(2px);*/
}
.img4-Dyn
{
	position:fixed;
	width:100%;
	background-image: url("../Images/Image4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	border-bottom:1px Solid #888888;
	color: #FFFFFF;
	height:1278px;
	z-index:1;
}