{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Account Control</h3>
		</div>
        {{ form_start(form, {attr: {class: 'my-form-class'} })}}
        {{ form_widget(form) }}    

        
	    <input type="submit" class="btn" value="Save changes" />
        {{ form_end(form) }}
		
	</div>

{% endblock %}