{% extends 'base.html.twig' %}

{% block title %}Les Admins de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Control Panel</h3>
		</div>
		<div class = "Controls-Admin">
			<div class = "bt-1et1">
				<a href="{{ path('admin_article') }}"><div class = "bt-type-1">New Article						</div></a>
				<a href="{{ path('admin_accountControl') }}"><div class = "bt-type-1">Account Control			</div></a>
			</div>	
			<a href="{{ path('admin_dynamicStream') }}"><div class = "bt-type-2">Configure Dynamic Stream	</div></a>
		</div>
	</div>

{% endblock %}