{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Select User</h3>
		</div>
		<div class ="form-search-user">
            {{ form_start(form, {attr: {class: 'my-form-class'} })}}
            <a href=""> |+| Create Admin Account</a>

            {{ form_widget(form) }}    
            <input type="submit" class="btn" value="Save Modifications" />
            {{ form_end(form) }}
		</div>
	</div>

{% endblock %}