{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Configure Dynamic </h3>
		</div>
		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" class="btn" value="Select Article" />
		{{ form_end(form) }}
	</div>

{% endblock %}