{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Configure Dynamic </h3>
		</div>
		<ul>
			{% for article in articles %}
				
				<li class = "list-article-stream">
					<div class = "elem-list-check">
					<input type="checkbox" id="scales" name="{{ article.slug }}" ></div>
					<div class = "elem-list-text">
				    {{ article.title }} : {{ article.slug }}</div>
				</li>
				
		    {% endfor %}
	    </ul>
			<input type="submit" class="btn btn-Select-Article" value="Select Article(s)" />
{% endblock %}