{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}
	<div class ="img7">
		<div class ="contenuTitre">
			<h3>Configure Dynamic </h3>
		</div>
		<div id = "Dynamique">
    		<ul id ="liste">
    		    {% for article in articles %}
					<li class = "list-article">{{ article.title }} : {{ article.content }}</li>
    		    {% endfor %}
	   		 </ul>
	   </div>
			<input type="submit" class="btn btn-Select-Article" value="Select Article(s)" onclick="ComboBox()" />
		</form>

	</div>
	<script type="text/javascript" src="{{ asset('js/testAffichage.js') }}"></script>
	<script>Clear(); ComboBox();</script>
{% endblock %}