{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}

	<div class ="img7">
	<div class ="contenuTitre">
		<h3>Validation Page</h3>
	</div>
		<h3>Are you sure ?</h3>
		{{ form_start(action) }}
			<!-- <button type="Submit" class ="", value ="Delete">YES, Delete This article</button>
			<button type="Submit" class ="" value = "NoDelete">BACK</button> -->
		{{ form_end(action) }}
	</div>
{% endblock %}