{% extends 'base.html.twig' %}

{% block title %}Les maçons de L'informatique{% endblock %}

{% block body %}

	<div class ="img7">
	<div class ="contenuTitre">
		<h3>Validation Page</h3>
	</div>
		{{ action }}
	</div>
{% endblock %}